html, body {
  margin: 0;
  padding: 0;
  background-color: white;
}
body {
    overflow-y: hidden;
}


canvas {
  display: block;
  position: relative;
  margin-top: 20px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

#aidraw input{
  height: 40px;
  width: 40px;
  margin: 10px;
}